.about {
  background-color: #0a2850;
}

.about__title {
  max-width: 251px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  margin: 100px 0 0 80px;
}

.about__content {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
  max-width: 660px;
  margin: 119px 80px 173px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__circle {
  top: 100px;
  left: 80px;
  position: absolute;
}
